server:
  port: 8080
spring:
  application:
    name: nep-gateway
  main:
    web-application-type: reactive
  cloud:
    nacos:
      server-addr: 8.130.74.245:8848
    gateway:
      routes:
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/user/**
        - id: report-service
          uri: lb://report-service
          predicates:
            - Path=/report/**
        - id: statistics-service
          uri: lb://statistics-service
          predicates:
            - Path=/statistics/**

nep:
  jwt:
    location: classpath:nep.jks
    alias: nanhu
    password: neu123456
    tokenTTL: 30m
  auth:
    excludePaths:
        - /user/login
        - /user/register