server:
  port: 8080
spring:
  cloud:
    gateway:
      default-filters:
        - DedupeResponseHeader=Vary Access-Control-Allow-Credentials Access-Control-Allow-Origin, RETAIN_UNIQUE
        - DedupeResponseHeader=Access-Control-Allow-Origin, RETAIN_FIRST
      globalcors: # Cors Config
        add-to-simple-url-handler-mapping: true
        cors-configurations:
          '[/**]':
            allowedOriginPatterns: "*"
            allowedHeaders: "*"
            allowedMethods: "*"
            allowCredentials: true
            maxAge: 3600
      routes:
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/user/**
        - id: report-service
          uri: lb://report-service
          predicates:
            - Path=/report/**
        - id: statistics-service
          uri: lb://statistics-service
          predicates:
            - Path=/statistics/**
        - id: grid-service
          uri: lb://grid-service
          predicates:
            - Path=/grid/**
        - id: chat-service
          uri: lb://chat-service
          predicates:
            - Path=/chat/**

nep:
  jwt:
    location: classpath:nep.jks
    alias: nanhu
    password: neu123456
    tokenTTL: 30m
  auth:
    excludePaths: # exclude paths unified config
      - /user/login
      - /user/login/phone
      - /user/register
      - /user/sendSMSCode